@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  --vh: 100%;
}

@layer components {
  .clickableTextStyle {
    @apply font-bold text-[#583f72] ml-3 hover:text-textPurple transition-colors duration-200 cursor-pointer;
  }

  .testCenter {
    @apply flex justify-center;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }

  .f {
    @apply flex;
  }

  .f-ic-jc {
    @apply flex items-center justify-center;
  }

  .f-fc {
    @apply flex flex-col;
  }

  .f-fc-jc {
    @apply f-fc justify-center;
  }

  .f-fc-ic {
    @apply f-fc items-center;
  }

  .f-fc-ic-jc {
    @apply f-fc items-center justify-center;
  }

  .f-fr {
    @apply flex flex-row;
  }

  .f-fr-ic {
    @apply f-fr items-center;
  }

  .f-fr-jc {
    @apply f-fr justify-center;
  }

  .f-fr-ic-jc {
    @apply f-fr items-center justify-center;
  }

  .f-fr-ic-jb {
    @apply f-fr-ic justify-between;
  }

  .f-fr-ic-js {
    @apply f-fr-ic justify-start;
  }

  .image {
    @apply object-cover w-full h-full;
  }

  .canvas {
    /* @apply overflow-hidden flex flex-col items-center relative w-[375px] h-[812px]  bg-[#FFFFFF]; */
    /* @apply overflow-hidden flex flex-col items-center relative w-[377px] h-[850px] bg-[#FFFFFF]; */
    @apply overflow-hidden flex flex-col items-center relative pt-[61px] w-full h-full max-w-[375px] max-h-[812px] bg-[#FFFFFF];
  }

  .logo-div {
    @apply w-[201px] h-[37px] bg-contain bg-no-repeat;
  }

  .character-box {
    @apply w-[121px] h-[115px] object-cover z-10 border rounded-md;
  }

  .large-button {
    @apply w-[330px] h-[50px] rounded-md text-base font-bold cursor-pointer;
  }

  .back-button {
    @apply absolute top-1/2 left-4 transform translate-y-1/2 text-lg cursor-pointer;
    /* @apply absolute top-1/2 left-4 transform translate-y-1/2 text-lg; */
  }

  .error-msg {
    @apply absolute -bottom-4 left-0 font-semibold  text-[10px] text-[#FF4444];
  }

  .animate-slide-up {
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .selected-icon {
    @apply border-4 border-[#8722ED] rounded-full;
  }
}
/* footer 가 있다면 */
/* height: calc(var(--vh, 1vh) * 100 + [footer의 높이]);

// 예: footer 높이가 66px인 경우
height: calc(var(--vh, 1vh) * 100 + 66px); */

/* <Container>
  <ContentContainer>
  	어쩌구 내용
  </ContentContainer>
  <Footer/>
</Container> */

body,
html {
  /* width: 375px;
  height: 812px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  background-color: green;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  /* margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

/* ::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background-color: #fe5665;
  border-radius: 5px;
} */

input {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
  outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SUIT-Regular', 'Nunito Sans';
}
